body {
    margin:0;
    padding:0; 
    background-color:#faf8f7;
    font-size: 16px;
    font-family: Helvetica Neue, sans-serif;
    color: #1e3945;
    background-color: #fff;
}

#main-nav {
    height: 100px;
    font-size: 1.05em;
    background-color: #fafbfb;
    border-style: none;
}

#nav-items {
    font-size: 1em;
    font-weight: 200;
    padding: 0 20px 0 20px;
    margin: 15px 0 0 20px;
    line-height: 1.5em;
}

.search-area {
    margin-top: -20px;
    padding: 40px 60px;
    height: 250px;
    width: 100%;
    background-color: #fafbfb;
}

#search-items {
    padding-left: 10px;
    margin-left: -28px;
}

.search-items {
    display: inline;
    font-size: 1em;
    text-decoration: none;
    padding-right: 5px;
    margin: 20px;
}

p {
    font-size: 1em;
}

.search-form {
    height: 50px;
    width: 2px;
    display: flex;
}

#id {
    width: 20px;
    border: 2px solid red;
}

.search-area-item {
    margin-left: 60px;
    padding-left: 70px;
    padding-right: 100px;
    font-size: 2rem;
}

.search-text {
    font-size: 2em;
}

.big-container {
    margin: 0 100px;
    padding:  20px 80px;
}

.navbar-brand {
    font-size: 2.5em;
    font-weight: 300;
    color: #329ea8;
    line-height: 1.5em;
    padding: 10px 20px 10px 20px;
}

.caption {
    display: flex;
}

div span {
    display: block;
    background-color: white;
    border-color: white;
}

#card3 {
    height: 400px;
    border: 2px solid ;
}

.about-area {
	background-color: #fafbfb;
	border-style: none;
	margin: 30px -15px;
	padding: 50px;
	line-height: 1.5em;
	font-size: 1em;
	color: #50656e;
    text-align: justify;
    padding: 20px 100px 105px;
}

p.a, p.b {
    text-align: left;
}

.top-row, .center-row, .bottom-row {
    height: 29%;
    color: #50656e;
    border: 1px solid rgb(7, 141, 207);
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 50px;


}

.third-div-text {
    padding: 2px auto 2px 1px;
}

.third-div-img {
    height: 100px; 
    width: 120px;
    padding: 0;
    margin: -4px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f3f7;
  }

.fa {
    padding: 5px;
    font-size: 10px;
    width: 25px;
    color: #676775;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid #676775;
   }

#social-links {
    margin: 20px 0;
    padding: 10px 0;
}

.item {
    display: inline;
    font-size: 0.75em;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

#navcontainer {
    margin: 20px 0;
    padding: 10px 0;
}

a:link {
    color: gray;
}